{% extends 'base.html.twig' %}
{% block title %}Chat & Go{% endblock %}
{% block body %}
<header>
    <div>
        <button id="Home">Home</button>
    </div>
    <div>
        <button id="Amigos">Amigos</button>
    </div>
    <div>
        <button id="Peticiones">Peticiones</button>
    </div>
    <div>
        <button id="Salas">Salas</button>
    </div>
    <div>
        <button id="Logout">Logout</button>
    </div>
</header>
<div id="content"></div>
{% endblock %}